body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  height: 55px;
  border-top: solid 5px rgb(165, 72, 165);
  width: 100%;
  font-weight: bold;
  color: #444;
  border-bottom: solid 1px #999;
  background: white;
  box-shadow: 0 0px 10px 0px rgba(25,25,25,0.2);
}

.brand {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 5px 20px 10px 20px;
  color: #444;
  float: left;
}

.header-links {
  float: right;
  height: 60px;
  margin-top: -5px;
}

.header-links a {
  width: 100px;
  height: 60px;
  display: inline-block;
  text-align: center;
  float: left;
  font-size: 25px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  line-height: 60px;
}

.header-links a {
  position: relative;
  z-index: 1;
  transition: 0.08s ease-in;
}

.logo-link span {
  background: transparent url("/images/logos.png") no-repeat;
  background-size: 160px 80px;
  height: 40px;
  width: 40px;
  margin: 10px auto;
  display: block;
  background-position-y: 0px;
}

.logo-link:hover span{
  background-position-y: -40px;
}

.logo-link.twitter span {
  background-position-x: 0px;
}

.logo-link.facebook span {
  background-position-x: -40px;
}

.logo-link.linkedin span {
  background-position-x: -80px;
}

.logo-link.github span {
  background-position-x: -120px;
}

.header-links a:before {
  content: "";
  position: absolute;
  background: #444;
  left: 0;
  right: 0;
  bottom: 55px;
  top: 0;
  z-index: -1;
  -webkit-transition: bottom 0.09s ease-in;
}

.header-links a:hover {
  color: white;
}

.header-links a:hover:before {
  bottom: 0;
}

.logo-link.twitter:before {
  background: #28AAE1;
}

.logo-link.facebook:before {
  background: #3C5A99;
}

.logo-link.github:before {
  background: #181616;
}
.logo-link.linkedin:before {
  background: #007BB5;
}

.logo-link {
  width: 80px !important;
}
