body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
  background: #EEE;
  color: #444
  font-size: 15px;
  min-width: 900px;
  line-height: 21px;
}

a {
  color: #A548A5;
}

img {
  display: block;
  margin: auto;
}

.highlight {
  background: #eee;
  border: solid 1px #999;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.header {
  height: 55px;
  border-top: solid 5px #A548A5;
  width: 100%;
  font-weight: bold;
  color: #444;
  border-bottom: solid 1px #999;
  background: white;
  box-shadow: 0 0px 10px 0px rgba(25,25,25,0.2);
  position: fixed;
  top: 0;
  z-index: 10;
  min-width: 900px;
}

.brand {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 5px 20px 10px 20px;
  color: #444;
  float: left;
}

.header-links {
  float: right;
  height: 60px;
  margin-top: -5px;
}

.header-links a {
  width: 100px;
  height: 60px;
  display: inline-block;
  text-align: center;
  float: left;
  font-size: 25px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  line-height: 60px;
}

.header-links a {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}

.logo-link span {
  background: transparent url("/images/logos.png") no-repeat;
  background-size: 160px 80px;
  height: 40px;
  width: 40px;
  margin: 10px auto;
  display: block;
  background-position-y: 0px;
}

.logo-link:hover span{
  background-position-y: -40px;
}

.logo-link.twitter span {
  background-position-x: 0px;
}

.logo-link.facebook span {
  background-position-x: -40px;
}

.logo-link.linkedin span {
  background-position-x: -80px;
}

.logo-link.github span {
  background-position-x: -120px;
}

.header-links a:before {
  content: "";
  position: absolute;
  background: #444;
  left: 0;
  right: 0;
  bottom: 55px;
  top: 0;
  z-index: -1;
  -webkit-transition: bottom 0.09s ease-in;
  -moz-transition: bottom 0.09s ease-in;
  transition: bottom 0.09s ease-in;
}

.header-links a:hover {
  color: white;
}

.header-links a:hover:before {
  bottom: 0;
}

.logo-link.twitter:before {
  background: #28AAE1;
}

.logo-link.facebook:before {
  background: #3C5A99;
}

.logo-link.github:before {
  background: #181616;
}
.logo-link.linkedin:before {
  background: #007BB5;
}

.logo-link {
  width: 80px !important;
}

.container {
  margin: 100px auto 60px;
  width: 900px;

}

.card { 
  margin: 20px 0px;
  border: solid 1px #999; 
  background: white;
  box-shadow: 0 0px 10px 0px rgba(25,25,25,0.2);
}

.card-header {
  position: relative;
  width 100%;
  height: 100px;
  z-index: 1;
}

.card-header:before {
  content: "";
  position: absolute;
  background: #a548a5;
  left: 0;
  right: 0;
  bottom: 95px;
  top: 0;
  z-index: -1;
  -webkit-transition: bottom 0.09s ease-in;
  -moz-transition: bottom 0.09s ease-in;
  transition: bottom 0.09s ease-in;
}

.card-header:hover {
  color: white;
}

.card-header:hover:before {
  bottom: 0;
}

.date-bubble {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background: #444;
  color: white;
  margin: 10px 0px 10px 20px;
  float: left;
  -webkit-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}

.card-header:hover .date-bubble {
  background: white;
  color: #444; 
} 

.date {
  font-size: 20px;
  width: 80px;
  line-height: 20px;
  height: 20px;
  padding: 25px 0px 0px;
  margin: 0px;
  text-align: center;
}

.year {
  font-size: 13px;
  width: 80px;
  line-height: 20px;
  height: 20px;
  padding: 5px 0px 10px;
  margin: 0px;
  text-align: center;
  font-style: italic;  
}
.card-header:hover .title {
  color: white;
  -webkit-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}

.title {
  font-size: 50px;
  line-height: 100px;
  font-weight: bold; 
  float: left;
  color: #444;
  text-decoration: none;
  padding-left: 20px;
}

.card-content {
  padding: 0px 40px 20px;
}

.card.green .card-content a {
  color: #83C441;
}

.card.green .card-header:before {
  background-color: #83C441;
}
